.table-div {
  padding-top: 30px;
  text-align: center;
}

.table-div table {
  width: 600px;
  margin: 0 auto;
  border-collapse: collapse;

  /* background-color: yellow; */
}

.table-div th {
  background-color: #e9e9e9;
  border: 0;
}
