.nav-bar {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.search input[type=text]{
  float: right;
  padding: 6px;
  border: none;
  margin-top: 10px;
  margin-right: 16px;
}
